<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
        {{#link-to 'catalog.products'}}
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>Back
            </button>
        {{/link-to}}
        <button {{action "save"}} type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 product-heading">
        <h3>{{product.name}}</h3>
    </div>

    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked" id="product-tabs" data-tabs="tabs">
            <li class="active"><a href="#product-general" data-toggle="tab">General</a></li>
            <li><a href="#product-categories" data-toggle="tab">Categories</a></li>
        </ul>
    </div>

    <div class="col-sm-10 tab-content">
        <div id="product-general" class="tab-pane active">
            <table class="table">
                <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>{{input value=product.name}}</td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td>{{textarea value=product.description cols="80" rows="6"}}</td>
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td>{{input value=product.price}} &euro;</td>
                </tr>
                <tr>
                    <td><strong>Inventory</strong></td>
                    <td>{{input value=product.inventory}}</td>
                </tr>
                <tr>
                    <td><strong>Image</strong></td>
                    <td>{{input value=product.image}}</td>
                </tr>
                <tr>
                    <td><strong>Active</strong></td>
                    <td>{{input type="checkbox" name="active" checked=product.active}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="product-categories" class="tab-pane">
            <ul>
                {{#each category in categories}}
                    <li>{{input type="checkbox" name=category.name checked=category.checked}} {{category.name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>